.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 13px;
    right: 30px;
    top: 14px
  }
  
  @media (min-width: 640px){
    .bm-burger-button{
      display: none;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #545454;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #545454;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General Sidebar styles */
  .bm-menu {
    background: #E79F14;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list { 
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 60px;
  }

  
  
  /* Styling of overlay */
  .bm-overlay {
    background: #E79F14;
  }
  
  .bm-item {
    transition: color 0.2s;
    display: flex;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }

  #page-wrap {
    padding: 0;
  }