@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e0b15b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: theme('colors.text-p');
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.logo {
  /* font-family: 'Comforter Brush', cursive; */
  font-family:'Dancing Script', cursive;;
  /* font-family: 'Great Vibes', cursive; */
}

body {
  font-family: 'Montserrat', sans-serif;
  place-items: center;
  min-width: 320px;
  min-height: calc(100vh - 160px);

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

main {
  min-height: calc(100vh - 208px);
}

@media (max-width: 720px) {
  main {
    min-height: calc(100vh - 75px);
  }
}

a {
  font-weight: 200;
  color: var(--black-p);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: theme('colors.primary');
  text-underline-offset: 0.25rem;
  border-color: #ffd364;
}

/* a.button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: #ffff;
  background-color: theme('colors.primary');
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

a.button:hover {
  border-color: #ffd364;
}

a.button:focus,
a.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


.active-link {
  text-decoration: underline;
  text-decoration-color: theme('colors.primary');
  text-underline-offset: 0.25rem;
}

.disabled-link {
  text-decoration: none;
  text-decoration: unset;
}