@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e0b15b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: theme('colors.text-p');
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
}

main {
  min-height: calc(100vh - 192px);
}

@media (max-width: 720px) {
  main {
    min-height: calc(100vh - 75px);
  }
}

a {
  font-weight: 200;
  color: var(--black-p);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: theme('colors.primary');
  text-underline-offset: 0.25rem;
  border-color: #ffd364;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: theme('colors.primary');
  text-underline-offset: 0.25rem;
}

.disabled-link {
  text-decoration: none;
  text-decoration: unset;
}
